<link rel="stylesheet" href="../../../static/css/my.css">{% load static %}

<div class="answer">
    <div class="row h-100">
        <div class="col-1 h-100 px-1">
            <div class="answer-avatar">
                <!--                 ТУт вероятно будет парамметр контекста, в котором передадим картинку -->
                <img src="{% static 'img/default_avatar.jpg' %}" alt="avatar">
            </div>
            <div class="col-md-1 offset-md-7">
                <a href="#">
                    <img src="{% static 'img/up_vote.png' %}" alt="up_vote" class="question-vote">
                </a>

                <div style="margin-left: 3px">
                    {{answer.rating}}
                </div>

                <a href="#">
                    <img src="{% static 'img/down_vote.png' %}" alt="down_vote" class="question-vote">
                </a>
            </div>
        </div>
        <div class="col-11 h-100">
            <div class="answer-text overflow-auto">{{ answer.text }}
            </div>
            <div class="row">
                <div class="col-4 pb-3">
                    Correct!
                    {% if answer.isCorrect%}
                        <img src="{% static 'img/check_mark.png' %}" alt="check-mark" class="check-mark">
                    {% endif%}
                </div>

            </div>
        </div>
    </div>
</div>