{% extends "inc/base/base_header.html" %}
{% load bootstrap5 %}

{% block header_right %}
{% if is_authorized %}
    {% with "inc/basic_page/header_right_auth.html" as path_header %}
        {% include path_header %}
    {% endwith %}
{% else %}
    {% with "inc/basic_page/header_right.html" as path_header %}
        {% include path_header %}
    {% endwith %}
{% endif %}
{% endblock header_right %}

{% block content %}
<h2 class="mt-5">
</h2>
{% include "inc/basic_page/question_item.html" %}
<h5 class="page-header">
    <hr>
</h5>
<h2> Answers: </h2>
{% for answer in answers %}
{% include "inc/answers/answer.html" %}
{% endfor %}

<h5 class="page-header">
    <hr>
</h5>

<form action="{% url 'new-answer' question.id %}" method="POST" class="row g-3 needs-validation">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Send</button>
    </div>
</form>
{% endblock content %}

