{% extends "inc/base/base_header.html" %}

{% block header_right %}
{% include "inc/basic_page/header_right_auth.html" %}
{% endblock header_right %}

{% block content %}
<h1 class="mt-5">Settings: {{author.nickname}}</h1>
<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-6">
        <label class="form-label">Login</label>
        <input type="text" class="form-control" value="{{author.login}}" required>
        <div class="invalid-feedback">
            Enter login
        </div>
    </div>
    <div class="col-md-6">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" value="{{author.email}}" required>
        <div class="invalid-feedback">
            Enter email
        </div>
    </div>
    <div class="col-md-6">
        <label class="form-label">Nickname</label>
        <input type="text" class="form-control" value="{{author.nickname}}" required>
        <div class="invalid-feedback">
            Enter email
        </div>
    </div>
    <div class="col-md-6">
        <label class="form-label">Upload photo</label>
        <input type="file" class="form-control" required>
        <div class="invalid-feedback">
            Please, upload photo
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
    <text>You are not registered yet? <a href="{% url 'register' %}"> Sign up</a></text>

</form>
{% endblock content %}